@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pzgegy');
  src:  url('fonts/icomoon.eot?pzgegy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pzgegy') format('truetype'),
    url('fonts/icomoon.woff?pzgegy') format('woff'),
    url('fonts/icomoon.svg?pzgegy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi-medium-svgrepo-com:before {
  content: "\e902";
}
.icon-wifi-low-svgrepo-com:before {
  content: "\e901";
}
.icon-wifi-none-svgrepo-com:before {
  content: "\e900";
}
.icon-wifi-high-svgrepo-com3:before {
  content: "\e903";
}
